.carousel-custom{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(243, 237, 237);
}
.carousel-custom .item {
	color: rgb(0, 0, 0);
	
    text-align: center;
	overflow: hidden;
    min-height: 400px;
	padding: 50px;
}
.carousel-custom .item .img-box {
	width: 135px;
	height: 135px;
	margin: 0 auto;
	padding: 5px;
	border-radius: 50%;
}
.carousel-custom .img-box img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
.carousel-custom .testimonial {
    text-align: center;
}

