@font-face {
    font-family: 'museo';
    src: local('museo'),
         url(museo.otf) format('otf');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: f2f2f2;
    margin: 0;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-align: center;
}

h4{
    text-align: left;
    font-weight: bold;
}

h5 {
    font-size: 30px;
    font-weight: bold;
}

h6{
    text-align: center;
}
  
p {
    font-family: verdana;
    font-size: 12px;
}

p2{
    text-align: center;
}

section{
    padding: 2em 2em;
}

.container{
    max-width: 1800px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    place-content: space-between;
}

.btn.btn-custom {
    border-radius: 20px;
}

hr {
	border: 0;
	border-top: 2px solid rgb(17, 17, 17);
}

.d-flex {
    display: flex !important;
}

.align-items-center {
    align-items: center !important;
}

.justify-content-between {
    justify-content: space-between !important;
}

.justify-content-end {
    justify-content: flex-end !important;
}

.justify-content-center {
    justify-content: center !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.mr-auto{
    margin-right: auto !important;
}

.text-right {
    text-align: right !important;
}

.text-center{
    text-align: center;
}

.row {
    display: flex;
    flex-wrap: flex;
    margin-right: -15px;
    margin-left: -15px;
}
  
.nav-bar {
    background:white;
    padding: 1em;
}

.social-media{
    display: inline-block;
    box-sizing: border-box;
} 

.icon {
    width: 1.5em;
    height: 1.5em;
}

.col-9 {
    flex: 0 0 75%;
    max-width: 75%;
}

.col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}


.col-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.menu-nav ul{
    padding: 0;
}

.menu-nav li{
    display: inline;
}

.menu-nav li a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    float: left;
    padding: 10px;
    color:rgb(58, 56, 56);
}

.hero{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero{
    position: relative;
    display: flex;
    justify-content: center;
}

.column{
    float: left;
    width: 50%;
    padding: 10px;
    max-height: 35em;
    justify-items: center;
    padding-left: 150px;
}

.info{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.services{
    justify-content:center;
}

.bannermed{
    justify-content: center;
}

.img_container{
    position: relative;
    width: 100%;
}

.img_container img{
    width: 100%;
    height: auto;
}

.img_container .on-img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.about-info
{
    text-align: justify;
    text-justify: inter-word;
    overflow: hidden;
    margin: 10px;
}

.influencers{
    display: inline-block;
}

.influencers img{
    display: block;
    margin: 0 auto;
}

figcaption{
    background-color: rgb(255, 255, 255);
    border: thin silver solid;
    text-align: justify;
    width: 100%;
    padding: 8px;
}

span{
    color: brown;
    font-weight: bold;
}

mark{
    background-color: black;
    color:aqua;
}

.footer{
    background: #303036;
    color: #d3d3d3;
    height: 400px;
    position: relative;
    padding-top: 50px;
}

.footer .footer-bottom{
    background:#999999;
    color:#383838;
    height: 100px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-top: 20px;
}

.newsletter{
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.newsletter-message input{
    width: 100%;
    height: 30%;
    background-color: rgb(0, 0, 0);
    opacity: 25%;
    border: thin rgb(255, 255, 255) solid;
}

input::placeholder {
    color: rgb(255, 255, 255);
    font-size: 1.2em;
}

.newsletter-name-address input{
    width: 49%;
    height: 20%;
    background-color: rgb(0, 0, 0);
    opacity: 25%;
    border: thin silver solid;
}

.footer{
    background-image: url(images/banner-medium_01.jpg);
    opacity: 90%;
}

.footer-custom a{
    color: white;
}

.rectangle li{
    list-style: none;
}

.rectangle a{
    position: relative;
    display: block;
    padding: .4em .4em .4em .8em;
    *padding: .4em;
    margin: .5em 0 .5em 2.5em;
    background: #ddd;
    color: #444;
    text-decoration: none;
    transition: all .3s ease-out;
}

.rectangle a:before{
    content: ">";
    color: white;
    position: absolute;
    left: -2.5em;
    top: 50%;
    margin-top: -1em;
    background: #0c0c0c;
    height: 2em;
    width: 2em;
    line-height: 2em;
    text-align: center;
    font-weight: bold;
}

.col-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

.col-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
}

.responsive{
    max-width: 100%;
    height:auto;
}