@font-face {
    font-family: 'museo';
    src: local('museo'),
         url(museo.otf) format('otf');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: f2f2f2;
    margin: 0;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-align: center;
}

h2{
    font-weight: bold;
}

h3{
    font-weight: bold;
}

h4{
    text-align: left;
    font-weight: bold;
}

h5 {
    font-size: 30px;
    font-weight: bold;
}

h6{
    text-align: center;
}
  
p {
    font-family: verdana;
    font-size: 12px;
}

p2{
    text-align: center;
}

section{
    padding: 5em 2em;
}

.container{
    max-width: 1800px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    place-content: space-between;
}

.btn.btn-custom {
    border-radius: 20px;
}

hr {
	border: 0;
	border-top: 2px solid rgb(17, 17, 17);
}

.d-flex {
    display: flex !important;
}

.align-items-center {
    align-items: center !important;
}

.justify-content-between {
    justify-content: space-between !important;
}

.justify-content-end {
    justify-content: flex-end !important;
}

.justify-content-center {
    justify-content: center !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.mr-auto{
    margin-right: auto !important;
}

.text-right {
    text-align: right !important;
}

.row {
    display: flex;
    flex-wrap: flex;
    margin-right: -15px;
    margin-left: -15px;
}
  
.navbar {
    background:white;
    padding: 1em;

}

.social-media{
    display: inline-block;
    box-sizing: border-box;
} 

.icon {
    width: 1.5em;
    height: 1.5em;
}

.col-9 {
    flex: 0 0 75%;
    max-width: 75%;
 }

.col-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.menu-nav ul{
    padding: 0;
}

.menu-nav li{
    display: inline;
}

.menu-nav li a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    float: left;
    padding: 10px;
    color:rgb(58, 56, 56);
}

.hero{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero{
    position: relative;
    display: flex;
    justify-content: center;
}

.column{
    float: left;
    width: 50%;
    padding: 10px;
    max-height: 35em;
    justify-items: center;
    padding-left: 150px;
}

.info{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.services{
    justify-content:center;
}

.bannermed{
    justify-content: center;
}

.about-info
{
    text-align: justify;
    text-justify: inter-word;
}

.influencers-info{
    justify-content: center;
}

.join-info button{
  margin: 0;
  position: relative;
}

span{
    color: brown;
    font-weight: bold;
}
